<!DOCTYPE html>
<html>
  <head>
    <title>CookbookGenerator - An easier way to generate Chef Coookbooks</title>
  </head>
  
  <body>
 
 	<div class="content">
 		<div class="container">
	        <h1>Chef Cookbooks Generator</h1>
	        <p class="lead">An easier and faster way to generate Chef Cookbooks.</p>
	        <a class="btn btn-large btn-success" href="/users/sign_up">Sign up today</a>
	    </div>
    </div>

	<div class="section">

	        <div class="container">

	            <div class="row">
	                <div class="col-lg-4 col-md-4">
	                    <h3><i class="fa fa-check-circle"></i> Drag-and-Drop Tool</h3>
	                    <p>Add procedures in your recipes just using our drag and drop tool. Do not worry
	                    about syntax rules and good coding anymore.</p>
	                </div>
	                <div class="col-lg-4 col-md-4">
	                    <h3><i class="fa fa-pencil" title="teste"></i> Guided Development</h3>
	                    <p>Use our templates or ready code blocks to save time and a better design of your execution line. Write complex recipes in seconds.</p>
	                </div>
	                <div class="col-lg-4 col-md-4">
	                    <h3><i class="fa fa-folder-open"></i> Source Control</h3>
	                    <p>Keep your code safety and control different versions at the same place.</p>
	                </div>
	            </div>

	 		</div>

	</div>



	<br>
	<br>
	<br clear="all">

	<div class="container">
	    <div class="row">
	        <div class="col-lg-12">
	            <p>Copyright &copy; <a href="https://twitter.com/danielabraao">@danielabraao</a></p>
	        </div>
	    </div>
	</div>


  <%= javascript_include_tag :application %>
  </body>
</html>