<!DOCTYPE html>
<html>
  <head>
    <title>CookbookGenerator - The easier way to generate Chef Coookbooks</title>
  </head>
  
  <body>
 
 	<div class="content">
 		<div class="container">
	        <h1>Chef Cookbook Generator</h1>
	        <p class="lead">The easier and faster way to generate Chef Cookbooks.</p>
	        <a class="btn btn-large btn-success" href="/users/sign_up">Sign up today</a>
	    </div>
    </div>

	<div class="section">

	        <div class="container">

	            <div class="row">
	                <div class="col-lg-4 col-md-4">
	                    <h3><i class="fa fa-check-circle"></i> Drag-and-Drop Tool</h3>
	                    <p>Add any resources to your recipes just using our drag and drop tool.</p>
	                </div>
	                <div class="col-lg-4 col-md-4">
	                    <h3><i class="fa fa-pencil" title="teste"></i> Guided Development</h3>
	                    <p>Use templates or ready code blocks and save time to write complex recipes.</p>
	                </div>
	                <div class="col-lg-4 col-md-4">
	                    <h3><i class="fa fa-folder-open"></i> Source Control</h3>
	                    <p>Keep your assets organized and safe using the versioning system tool.</p>
	                </div>
	            </div>

	 		</div>

	</div>



	<br>
	<br>
	<br clear="all">

	<div class="container">
	    <div class="row">
	        <div class="col-lg-12">
	            <p>Copyright &copy; <a href="https://twitter.com/danielabraao">@danielabraao</a></p>
	        </div>
	    </div>
	</div>


  <%= javascript_include_tag :application %>
  </body>
</html>