<!DOCTYPE html>
<html>
  <head>
    <title>CookbookGenerator - An easier way to generate Chef Coookbooks</title>
  </head>
  
  <body>
  
	<!-- Static navbar -->
	    <div class="navbar navbar-default navbar-static-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">CookbookGenerator</a>
	        </div>
	        <div class="navbar-collapse collapse">

	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="#">Help</a></li>
	            <li><a href="#">Contact Us</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>

 	<div class="content">
 		<div class="container">
	        <h1>Chef Cookbooks Generator</h1>
	        <p class="lead">The easier and faster way to generate Chef Cookbooks.</p>
	        <a class="btn btn-large btn-success" href="#">Sign up today</a>
	    </div>
    </div>

	<div class="section">

	        <div class="container">

	            <div class="row">
	                <div class="col-lg-4 col-md-4">
	                    <h3><i class="fa fa-check-circle"></i> Bootstrap 3 Built</h3>
	                    <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with latest Bootstrap documentation!</p>
	                </div>
	                <div class="col-lg-4 col-md-4">
	                    <h3><i class="fa fa-pencil" title="teste"></i> Ready to Style &amp; Edit</h3>
	                    <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap customizer</a>!</p>
	                </div>
	                <div class="col-lg-4 col-md-4">
	                    <h3><i class="fa fa-folder-open"></i> Many Page Options</h3>
	                    <p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
	                </div>
	            </div>

	 		</div>

	</div>


	<footer>
	    <div class="row">
	        <div class="col-lg-12">
	            <p>Copyright &copy; Company 2013</p>
	        </div>
	    </div>
	</footer>

  <%= javascript_include_tag :application %>
  </body>
</html>