<!DOCTYPE html>
<html>
  <head>
    <title>CookbookGenerator - An easier way to generate Chef Coookbooks</title>
  </head>
  
  <body>
  
	<!-- Static navbar -->
	    <div class="navbar navbar-default navbar-static-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">CookbookGenerator</a>
	        </div>
	        <div class="navbar-collapse collapse">

	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="#">Help</a></li>
	            <li><a href="#">Contact Us</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>

 	<div class="content">
 		<div class="container">
	        <h1>Chef Cookbooks Generator</h1>
	        <p class="lead">An easier and faster way to generate Chef Cookbooks.</p>
	        <a class="btn btn-large btn-success" href="#">Sign up today</a>
	    </div>
    </div>

	<div class="section">

	        <div class="container">

	            <div class="row">
	                <div class="col-lg-4 col-md-4">
	                    <h3><i class="fa fa-check-circle"></i> Drag and Drop Tool</h3>
	                    <p>Add procedures in your recipes just using our drag and drop tool. Do not worry
	                    about syntax rules and good coding anymore.</p>
	                </div>
	                <div class="col-lg-4 col-md-4">
	                    <h3><i class="fa fa-pencil" title="teste"></i> Guided Development</h3>
	                    <p>Use our templates or ready code blocks to save time and a better design of your execution line. Write complex recipes in seconds.</p>
	                </div>
	                <div class="col-lg-4 col-md-4">
	                    <h3><i class="fa fa-folder-open"></i> Source Control</h3>
	                    <p>Keep your code safety and control different versions at the same place.</p>
	                </div>
	            </div>

	 		</div>

	</div>



	<br>
	<br>
	<br clear="all">

	<div class="container">
	    <div class="row">
	        <div class="col-lg-12">
	            <p>Copyright &copy; <a href="https://twitter.com/danielabraao">@danielabraao</a> - <a href="explaintecnologia.com.br">explaintecnologia.com.br</a></p>
	        </div>
	    </div>
	</div>


  <%= javascript_include_tag :application %>
  </body>
</html>